In [1]:
import numpy as np
import pandas as pd
import os 
POSTGRES_PASSWORD = os.environ['POSTGRES_PASSWORD']
import psycopg2
from sqlalchemy import create_engine

In [29]:
bills=pd.read_csv('Data/bills.csv')              
commitees=pd.read_csv('Data/committees.csv')        
leadership=pd.read_csv('Data/leadership.csv')        
os_legislators=pd.read_csv('Data/os_legislators.csv')  
votingaffinity=pd.read_csv('Data/votingaffinity.csv')
comittee_members=pd.read_csv('Data/committee_members.csv')
congress_members=pd.read_csv('Data/congress_members.csv')
os_contributions=pd.read_csv('Data/os_contributions.csv')
terms=pd.read_csv('Data/terms.csv')

In [30]:
bills.columns = [x.lower() for x in bills.columns ] #make columns lowercase

In [31]:
bills.columns = [x.replace('.', '_') for x in bills.columns ] #replace periods with underscores

In [32]:
bills

,congress,introduceddate,number,title,type,url,latestaction_actiondate,latestaction_text,policyarea_name,amendmentnumber,latestaction,latestaction_actiontime
0,118,2023-10-04,405.0,A resolution expressing support for the design...,SRES,https://api.congress.gov/v3/bill/118/sres/405?...,2023-10-04,"Submitted in the Senate, considered, and agree...",Armed Forces and National Security,NaN,NaN,NaN
1,118,2023-09-29,2998.0,Land-Grant Research Equity and Accountability Act,S,https://api.congress.gov/v3/bill/118/s/2998?fo...,2023-09-29,Read twice and referred to the Committee on Ag...,Agriculture and Food,NaN,NaN,NaN
2,118,2023-09-27,373.0,A resolution designating the week of September...,SRES,https://api.congress.gov/v3/bill/118/sres/373?...,2023-09-27,"Submitted in the Senate, considered, and agree...",NaN,NaN,NaN,NaN
3,118,2023-09-27,2937.0,Increasing American Ferrosilicon Production Act,S,https://api.congress.gov/v3/bill/118/s/2937?fo...,2023-09-27,Read twice and referred to the Committee on Fi...,Foreign Trade and International Finance,NaN,NaN,NaN
4,118,2023-09-20,2874.0,Fresh Produce Procurement Reform Act of 2023,S,https://api.congress.gov/v3/bill/118/s/2874?fo...,2023-09-20,Read twice and referred to the Committee on Ag...,Agriculture and Food,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38320,118,2023-02-15,443.0,Supply Chain Disruptions Relief Act,S,https://api.congress.gov/v3/bill/118/s/443?for...,2023-02-15,Read twice and referred to the Committee on Fi...,Taxation,NaN,NaN,NaN
38321,118,2023-02-14,413.0,Stock Buyback Accountability Act of 2023,S,https://api.congress.gov/v3/bill/118/s/413?for...,2023-02-14,Read twice and referred to the Committee on Fi...,Taxation,NaN,NaN,NaN
38322,118,2023-02-13,397.0,Promoting Physical Activity for Americans Act,S,https://api.congress.gov/v3/bill/118/s/397?for...,2023-02-13,Read twice and referred to the Committee on He...,Health,NaN,NaN,NaN
38323,118,2023-02-02,261.0,Protecting First Responders from Secondary Exp...,S,https://api.congress.gov/v3/bill/118/s/261?for...,2023-02-02,Read twice and referred to the Committee on th...,Crime and Law Enforcement,NaN,NaN,NaN
38324,118,2023-02-02,260.0,Promoting Access to Diabetic Shoes Act,S,https://api.congress.gov/v3/bill/118/s/260?for...,2023-02-02,Read twice and referred to the Committee on Fi...,Health,NaN,NaN,NaN

In [33]:
congress_members.columns = [x.lower() for x in congress_members.columns ] #make columns lowercase
congress_members.columns = [x.replace('.', '_') for x in congress_members.columns ] #replace periods with underscores

In [34]:
congress_members.head(3).T

,0,1,2
bioguideid,B000944,C000127,C000141
birthyear,1952,1958,1943
currentmember,True,True,True
directordername,Sherrod Brown,Maria Cantwell,Benjamin L. Cardin
firstname,Sherrod,Maria,Ben
honorificname,Mr.,Ms.,Mr.
invertedordername,"Brown, Sherrod","Cantwell, Maria","Cardin, Benjamin L."
lastname,Brown,Cantwell,Cardin
officialwebsiteurl,https://www.brown.senate.gov/,https://www.cantwell.senate.gov,https://www.cardin.senate.gov/
partyhistory,"[{'partyAbbreviation': 'D', 'partyName': 'Demo...","[{'partyAbbreviation': 'D', 'partyName': 'Demo...","[{'partyAbbreviation': 'D', 'partyName': 'Demo..."
state,Ohio,Washington,Maryland
terms,"[{'chamber': 'House of Representatives', 'cong...","[{'chamber': 'House of Representatives', 'cong...","[{'chamber': 'House of Representatives', 'cong..."
updatedate,2023-04-01T12:42:12Z,2023-04-01T12:42:12Z,2023-04-01T12:42:13Z
addressinformation_city,Washington,Washington,Washington
addressinformation_district,DC,DC,DC
addressinformation_officeaddress,"503 Hart Senate Office Building Washington, DC...","511 Hart Senate Office Building Washington, DC...","509 Hart Senate Office Building Washington, DC..."
addressinformation_phonenumber,(202) 224-2315,(202) 224-3441,(202) 224-4524
addressinformation_zipcode,20515,20515,20515
cosponsoredlegislation_count,7873,3923,6100
cosponsoredlegislation_url,https://api.congress.gov/v3/member/B000944/cos...,https://api.congress.gov/v3/member/C000127/cos...,https://api.congress.gov/v3/member/C000141/cos...
depiction_attribution,"<a href=""http://www.senate.gov/artandhistory/h...","<a href=""http://www.senate.gov/artandhistory/h...","<a href=""http://www.senate.gov/artandhistory/h..."
depiction_imageurl,https://www.congress.gov/img/member/b000944_20...,https://www.congress.gov/img/member/c000127_20...,https://www.congress.gov/img/member/c000141_20...
sponsoredlegislation_count,1389.0,882.0,1265.0
sponsoredlegislation_url,https://api.congress.gov/v3/member/B000944/spo...,https://api.congress.gov/v3/member/C000127/spo...,https://api.congress.gov/v3/member/C000141/spo...
middlename,NaN,NaN,NaN
suffixname,NaN,NaN,NaN
nickname,NaN,NaN,NaN
leadership,NaN,NaN,NaN
district,NaN,NaN,NaN

In [35]:
congress_members = congress_members.drop(['terms', 'leadership', 'partyhistory'], axis = 1)

## Terms

In [36]:
terms.columns = [x.lower() for x in terms.columns ] #make columns lowercase
terms.columns = [x.replace('.', '_') for x in terms.columns ] #replace periods with underscores
terms.head(3).T

                  0        1        2
chamber      Senate   Senate   Senate
congress        107      108      109
endyear      2003.0   2005.0   2007.0
membertype  Senator  Senator  Senator
startyear      2002     2003     2005
statecode        TX       TX       TX
statename     Texas    Texas    Texas
bioguideid  C001056  C001056  C001056
district        NaN      NaN      NaN

## Leadership

In [37]:
leadership.columns = [x.lower() for x in leadership.columns ] #make columns lowercase
leadership.columns = [x.replace('.', '_') for x in leadership.columns ] #replace periods with underscores
leadership.head(3).T

,0,1,2
congress,113,114,115
type,Assistant Democratic Leader,Assistant Majority Leader,Majority Whip
bioguideid,C001056,C001056,C001056
current,NaN,NaN,NaN

## OS Legislators

In [38]:
os_legislators.columns = [x.lower() for x in os_legislators.columns ] #make columns lowercase
os_legislators.columns = [x.replace('.', '_') for x in os_legislators.columns ] #replace periods with underscores
os_legislators.head(3).T

,0,1,2
cid,N00050780,N00035774,N00026050
firstl,Mary Peltola,Dan Sullivan,Lisa Murkowski
lastnam,Peltola,Sullivan,Murkowski
party,D,R,R
offic,AK01,AKS1,AKS2
gend,F,M,F
first_elected,2022,2014,2002
xit_cod,0,0,0
commen,NaN,NaN,NaN
phon,NaN,202-224-3004,202-224-6665
fax,NaN,NaN,202-224-5301
w,NaN,https://www.sullivan.senate.gov,https://www.murkowski.senate.gov
webform,NaN,https://www.sullivan.senate.gov/contact/email,https://www.murkowski.senate.gov/public/index....
congress_offic,NaN,702 Hart Senate Office Building,522 Hart Senate Office Building
oguide_id,NaN,S001198,M001153
votesmart_id,NaN,NaN,15841.0
feccandid,NaN,S4AK00214,S4AK00099
witter_id,NaN,SenDanSullivan,LisaMurkowski
youtube_url,NaN,NaN,https://youtube.com/senatormurkowski
facebook_id,NaN,SenDanSullivan,SenLisaMurkowski
hd,NaN,1964-11-13,1957-05-22

In [39]:
os_legislators = os_legislators[['cid', 'party', 'oguide_id']]
os_legislators = os_legislators.rename({"oguide_id": 'bioguideid'})

In [58]:
members = pd.merge(congress_members, os_legislators, on = 'bioguideid', how='inner')

In [44]:
os_legislators['bioguideid'].value_counts()

bioguideid
S001198    1
G000546    1
B001281    1
W000815    1
L000601    1
          ..
S001190    1
S001145    1
K000391    1
D000096    1
L000571    1
Name: count, Length: 513, dtype: int64

In [48]:
bio = congress_members.query("lastname=='Peltola'").reset_index()['bioguideid'][0]

In [53]:
os_legislators[os_legislators['bioguideid'].isna()]

           cid party bioguideid
0    N00050780     D        NaN
55   N00044298     R        NaN
106  N00051369     R        NaN
117  N00051178     R        NaN
122  N00043504     D        NaN
125  N00050596     D        NaN
175  N00049102     D        NaN
190  N00037427     R        NaN
208  N00025766     D        NaN
211  N00047972     R        NaN
232  N00001799     D        NaN
252  N00049602     D        NaN
255  N00050649     R        NaN
287  N00044027     R        NaN
292  N00044335     R        NaN
309  N00027695     R        NaN
310  N00027695     R        NaN
329  N00047871     D        NaN
357  N00041165     D        NaN
378  N00047875     D        NaN
382  N00048568     R        NaN
451  N00042243     R        NaN
495  N00051961     D        NaN
526  N00045307     R        NaN

## OS Contributions

In [60]:
os_contributions.columns = [x.lower() for x in os_contributions.columns ] #make columns lowercase
os_contributions.columns = [x.replace('.', '_') for x in os_contributions.columns ] #replace periods with underscores
os_contributions.head()

                          org_nam   otal   pac   ndiv
0                 State of Alaska  19541     0  19541
1         Sonosky, Chambers et al  16050     0  16050
2       General Communication Inc  15150  2500  12650
3                      Google Inc  14164     0  14164
4  University of Alaska/Anchorage  13938     0  13938

## Comittees

In [ ]:
commitees.columns = [x.lower() for x in commitees.columns ] #make columns lowercase
commitees.columns = [x.replace('.', '_') for x in commitees.columns ] #replace periods with underscores
commitees = commitees.drop(['subcommittees'], axis = 1)
commitees.head()

## Committee Members

In [73]:
comittee_members.columns = [x.lower() for x in comittee_members.columns ] #make columns lowercase
comittee_members.columns = [x.replace('.', '_') for x in comittee_members.columns ] #replace periods with underscores
comittee_members.head()

  committee_code  rank           title bioguide
0           HSII   1.0           Chair  W000821
1           HSII   1.0  Ranking Member  G000551
2           HSII   2.0             NaN  L000564
3           HSII   2.0             NaN  N000179
4           HSII   3.0             NaN  W000804